/* cyrillic-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(//www.zorinaq.com/font/NotoSerif-Italic_cyrillic-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Italic_cyrillic-ext.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(//www.zorinaq.com/font/NotoSerif-Italic_cyrillic.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Italic_cyrillic.woff) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(//www.zorinaq.com/font/NotoSerif-Italic_greek-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Italic_greek-ext.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(//www.zorinaq.com/font/NotoSerif-Italic_greek.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Italic_greek.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(//www.zorinaq.com/font/NotoSerif-Italic_vietnamese.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Italic_vietnamese.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext2 */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(//www.zorinaq.com/font/NotoSerif-Italic_latin-ext2.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Italic_latin-ext2.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(//www.zorinaq.com/font/NotoSerif-Italic_latin-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Italic_latin-ext.woff) format('woff');
  unicode-range: U+0080-009F, U+00A1-00C8, U+00CA-00E5, U+00E7-00E8, U+00EA-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-2012, U+2015-2021, U+2023-205F, U+2061-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(//www.zorinaq.com/font/NotoSerif-Italic_latin.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Italic_latin.woff) format('woff');
  unicode-range: U+0000-007F, U+00A0, U+00C9, U+00E6, U+00E9, U+2013-2014, U+2022, U+2060;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_cyrillic-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_cyrillic-ext.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_cyrillic.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_cyrillic.woff) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_greek-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_greek-ext.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_greek.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_greek.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_vietnamese.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_vietnamese.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext2 */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_latin-ext2.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_latin-ext2.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_latin-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_latin-ext.woff) format('woff');
  unicode-range: U+0080-009F, U+00A1-00C8, U+00CA-00E5, U+00E7-00E8, U+00EA-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-2012, U+2015-2021, U+2023-205F, U+2061-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_latin.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-BoldItalic_latin.woff) format('woff');
  unicode-range: U+0000-007F, U+00A0, U+00C9, U+00E6, U+00E9, U+2013-2014, U+2022, U+2060;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif Regular'), local('NotoSerif-Regular'), local('NotoSerif'), url(//www.zorinaq.com/font/NotoSerif-Regular_cyrillic-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Regular_cyrillic-ext.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif Regular'), local('NotoSerif-Regular'), local('NotoSerif'), url(//www.zorinaq.com/font/NotoSerif-Regular_cyrillic.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Regular_cyrillic.woff) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif Regular'), local('NotoSerif-Regular'), local('NotoSerif'), url(//www.zorinaq.com/font/NotoSerif-Regular_greek-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Regular_greek-ext.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif Regular'), local('NotoSerif-Regular'), local('NotoSerif'), url(//www.zorinaq.com/font/NotoSerif-Regular_greek.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Regular_greek.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif Regular'), local('NotoSerif-Regular'), local('NotoSerif'), url(//www.zorinaq.com/font/NotoSerif-Regular_vietnamese.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Regular_vietnamese.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext2 */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif Regular'), local('NotoSerif-Regular'), local('NotoSerif'), url(//www.zorinaq.com/font/NotoSerif-Regular_latin-ext2.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Regular_latin-ext2.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif Regular'), local('NotoSerif-Regular'), local('NotoSerif'), url(//www.zorinaq.com/font/NotoSerif-Regular_latin-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Regular_latin-ext.woff) format('woff');
  unicode-range: U+0080-009F, U+00A1-00C8, U+00CA-00E5, U+00E7-00E8, U+00EA-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-2012, U+2015-2021, U+2023-205F, U+2061-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif Regular'), local('NotoSerif-Regular'), local('NotoSerif'), url(//www.zorinaq.com/font/NotoSerif-Regular_latin.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Regular_latin.woff) format('woff');
  unicode-range: U+0000-007F, U+00A0, U+00C9, U+00E6, U+00E9, U+2013-2014, U+2022, U+2060;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(//www.zorinaq.com/font/NotoSerif-Bold_cyrillic-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Bold_cyrillic-ext.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(//www.zorinaq.com/font/NotoSerif-Bold_cyrillic.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Bold_cyrillic.woff) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(//www.zorinaq.com/font/NotoSerif-Bold_greek-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Bold_greek-ext.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(//www.zorinaq.com/font/NotoSerif-Bold_greek.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Bold_greek.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(//www.zorinaq.com/font/NotoSerif-Bold_vietnamese.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Bold_vietnamese.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext2 */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(//www.zorinaq.com/font/NotoSerif-Bold_latin-ext2.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Bold_latin-ext2.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(//www.zorinaq.com/font/NotoSerif-Bold_latin-ext.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Bold_latin-ext.woff) format('woff');
  unicode-range: U+0080-009F, U+00A1-00C8, U+00CA-00E5, U+00E7-00E8, U+00EA-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-2012, U+2015-2021, U+2023-205F, U+2061-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(//www.zorinaq.com/font/NotoSerif-Bold_latin.woff2) format('woff2'), url(//www.zorinaq.com/font/NotoSerif-Bold_latin.woff) format('woff');
  unicode-range: U+0000-007F, U+00A0, U+00C9, U+00E6, U+00E9, U+2013-2014, U+2022, U+2060;
}
